/* HEADER */
header{
    background-color: #3b4754;
    color: white;
}

.ms_menu i,
.ms_menu ul,
.ms_title-header{
    line-height: 60px;
}

ul li{
    display: inline-block;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    margin-left: 1em;
}

/* BANNER */
.ms_banner{
    background-color: #12ba82;
}

.square{
    width: 200px;
}

.ms_b-text{
    margin-top: .5em;
    font-size: 2em;
}

.ms_container{
    margin: 1em 0;
}

.ms_col{
    height: 5px;
    width: 80px;
    border-radius: 5px;
}

.star{
    margin: 0 .5em;
    font-size: 2em;
}

.ms_text div{
    display: inline-block;
}

/* MAIN */
section,
.ms_banner{
    padding: 2em 0;
}

.ms_img img{
    width: 100%;
    border-radius: 10px;
}

.sect-2{
    background-color: #12ba82;
    color: white;
}

/* .ms_btn{
    margin-top: 3em;
}

.ms_hr{
    height: 2px;
    background-color: grey;
    margin: 0 auto;
    margin-top: .5em;
}

.ms_margin{
    margin-top: 5em;
} */

.ms_width-container{
    max-width: 1170px;
    width: 60%;
    margin: 0 auto;
}

.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.form-control:focus{
    box-shadow: none;
    border-color: black;
}

/* FOOTER */
footer{
    color: white;
}
.foot{
    padding: 3em 0;
    background-color: #3f455c;
}

.foot-2{
    background-color: #2d3741;
}

.ms_list-icon i{
    border: 1px solid white;
    border-radius: 50%;
    margin-top: .5em;
    padding: 1em;
}

