/* HEADER */
header{
    background-color: #3b4754;
    color: white;
}

.ms_menu,
p{
    line-height: 80px;
}

ul li{
    display: inline-block;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    margin-left: 1em;
}

/* BANNER */
.ms_banner{
    background-color: aquamarine;
}

.square{
    margin-top: 3em;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.ms_b-text{
    margin-top: .5em;
    font-size: 2em;
}

.ms_container{
    margin: 1em 0;
}

.ms_col{
    background-color: white;
    height: 5px;
    width: 80px;
}

.star{
    height: 30px;
    width: 30px;
    background-color: blue;
    margin: 0 1em;
}

.ms_text div{
    display: inline-block;
    margin: 1em 0;
}

/* MAIN */
section{
    padding: 1em 0;
}

.ms_img{
    height: 400px;
}

.sect-2{
    background-color: #12ba82;
    color: white;
}

.ms_btn{
    margin-top: 1em;
}

.ms_hr{
    height: 2px;
    background-color: grey;
    margin: 0 auto;
    margin-top: .5em;
}

.ms_margin{
    margin-top: 5em;
}